/*GLOBAL */

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #F2F2F2;
    color: #666;
    font-size: 1.7rem;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

a {
    color: rgb(230, 111, 204);
}

a:hover {
    color: #EB3636;
}

main h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
    font-size: 2.5rem;
    color: rgb(230, 111, 204);
}

/* HEADER */
header {
    background: rgba(255, 124, 216, 1);
    background: -moz-linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 124, 216, 1)), color-stop(38%, rgba(253, 137, 215, 1)), color-stop(71%, rgba(251, 166, 225, 1)), color-stop(100%, rgba(252, 236, 252, 1)));
    background: -webkit-linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7cd8', endColorstr='#fcecfc', GradientType=1);
}

.logo {
 display: block;
 margin : 0 auto;
}

header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
}

header nav a {
    color: white;
    padding: 0px 174px;
    text-decoration: none;
}

header nav a:hover {
    color: #EB3636;
}

.welcome {
    margin-left: 40px;
    color: #EB3636;
    font-size: 20px;
}

.deconnexion {
    background-color: #f44336;
    text-shadow: 1px 1px 0 #444;
    margin-left: 137rem;
    margin-bottom: 1rem;
}

.deconnexion:hover {

    color: rgb(230, 111, 204);
}

/* MAIN */

.categorie1 {
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    background-color: white;
}

.categorie2 {
    max-width: 1000px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    text-align: center;
    background-color: white;
}

.cerisier {
    display: block;
    margin: 0 auto;
}



/* Partie Register */
#lastName {
    margin-left: 6.5rem;
}

#firstName {
    margin-left: 4.3rem;
    margin-top: 1rem;
}

#email {
    margin-left: 5.6rem;
    margin-top: 1rem;
}

#password {
    margin-top: 1rem;
}

.register {
    margin-left: 2rem;
}

.validation {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.creationcompte {
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:#d34836;
    color:#fff;
    width:110px;
    border-radius:2px;
    border:none;
}

.creationcompte:hover {
    color: rgb(230, 111, 204);
}

/* Partie Login */

.login {
    margin-left: 2rem;
}

.validconnexion {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

.connexion {
    padding: 6px 0 6px 0;
    font: Bold 13px Arial;
    background: #d34836;
    color: #fff;
    width: 110px;
    border-radius: 2px;
    border: none;
}

.connexion:hover {
    color: rgb(230, 111, 204);
}

/* Partie Carte */
#map {
    height: 100%;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#description {
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
}

#infowindow-content .title {
    font-weight: bold;
}

#infowindow-content {
    display: none;
}

#map #infowindow-content {
    display: inline;
}

.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    font-family: Roboto;
}

#pac-container {
    padding-bottom: 12px;
    margin-right: 12px;
}

.pac-controls {
    display: inline-block;
    padding: 5px 11px;
}

.pac-controls label {
    font-family: Roboto;
    font-size: 13px;
    font-weight: 300;
}

#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#title {
    color: #fff;
    background-color: #4d90fe;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#target {
    width: 345px;
}

/* Partie Galerie */
.imgStyle {
    width: 100px;
    height: 100px;
    border: 3px solid grey;
    margin-left: 2rem;
    margin-bottom: 1rem;
}

#mainImage {
    display:block;
    margin: 0 auto;
    height:500px;
    width: 540px;
    border:3px solid grey;
    margin-top: 2rem;
}

#imagesGalerie {
    margin-left: 3rem;
}

/* Partie traducteur et devises */

.pagetrad {
    margin-left: 2rem;
}

.convertir {
    margin-top: 2rem;
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:#d34836;
    color:#fff;
    width:90px;
    border-radius:2px;
    border:none;
}

.convertir:hover{
    color:rgb(230, 111, 204);
}

.reset {
    margin-top: 2rem;
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:#d34836;
    color:#fff;
    width:90px;
    border-radius:2px;
    border:none;
}

.reset:hover{
    color:rgb(230, 111, 204);
}

.traduire {
    padding:6px 0 6px 0;
    font:Bold 13px Arial;
    background:#d34836;
    color:#fff;
    width:90px;
    border-radius:2px;
    border:none;
}

.traduire:hover{
    color:rgb(230, 111, 204);
}

button {
    padding: 6px 0 6px 0;
    font: bold 13px Arial;
    background: rgb(230, 111, 204);
    color: #fff;
    border-radius: 100px;
    width: 120px;
    border: none;
}

.boutontrad {
    margin-right: 2rem;
}

.tradexterne {
    margin-bottom: 2rem;
}

#resultat {
    color: red;
    text-align: center;
    font-size: 30px;
}

.bonjour {
    display: none;
}

.revoir {
    display: none;
}

.aplus {
    display: none;
}

.francais {
    display: none;
}

.origine {
    display: none;
}

.pardon {
    display: none;
}

.gare {
    display: none;
}

.anglais {
    display: none;
}

.japonais {
    display: none;
}

.merci {
    display: none;
}

/* FOOTER */

footer {
    background: rgba(255, 124, 216, 1);
    background: -moz-linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(255, 124, 216, 1)), color-stop(38%, rgba(253, 137, 215, 1)), color-stop(71%, rgba(251, 166, 225, 1)), color-stop(100%, rgba(252, 236, 252, 1)));
    background: -webkit-linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    background: -o-linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    background: -ms-linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    background: linear-gradient(45deg, rgba(255, 124, 216, 1) 0%, rgba(253, 137, 215, 1) 38%, rgba(251, 166, 225, 1) 71%, rgba(252, 236, 252, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff7cd8', endColorstr='#fcecfc', GradientType=1);
    color: white;
}

#copyright {
    display: block;
    text-align: center;
    background-color: rgb(230, 111, 204);
    
}
@media screen and (max-width: 1024px) {
    html {
        height: 100%;
    }

    header {
        text-align: center;
    }

    header nav {
        display: inline-grid;
        font-size: 200%;
    }

    .deconnexion {
        background-color: #f44336;
        text-shadow: 1px 1px 0 #444;
        margin-left: 0rem;
        margin-bottom: 1rem;
    }

@media screen and (max-width: 767px) {

    html {
            height: 100%;
    }

    header nav {
        display: inline-grid;
        font-size: 300%;
    }

    .deconnexion {
        background-color: #f44336;
        text-shadow: 1px 1px 0 #444;
        margin-left: 0rem;
        margin-bottom: 1rem;
        font-size: 200%;
    }

    input {
        float: none;
    }

    input,
    textarea {
        width: 100%;
    }

    main h2 {
        font-size: 12.5rem;
    }

    .welcome {
        font-size: 200%;
    }

    p {
        font-size: 200%;
    }

    #convertisseur {
        font-size: 200%;
    }

    #dictionnaire {
        font-size: 200%;
    }

    #dictionnaireExterne {
        font-size: 200%;
    }

    input {
        width: 300px;
        height: 200px;
    }

    button {
        padding: 6px 0 6px 0;
        font: bold 13px Arial;
        background: rgb(230, 111, 204);
        color: #fff;
        border-radius: 200px;
        width: 410px;
        border: none;
        font-size: 200%;
        margin-bottom: 30px;
    }

    .pagetrad {
        font-size: 200%;
    }


}